/* 字体设置 */
p {
	font-size: 15px;
	line-height: 18px;
}

.title {
	font-size: 16px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.7);
}

.sub-title {
	font-size: 15px;
	color: rgba(0, 0, 0, 0.6);
}

.meta {
	font-size: 13px;
	color: #b4b4b4;
}

/* ---------主题设置----------- */
.primary-fill {
	background-color: rgb(232, 181, 152,0.9);
	color: #fff;
	
}

.primary-border {
	border: 1px solid #009688;
	color: #009688;
}
.warning-fill {
	background-color: #fb8c00;
	color: #fff;
}

.warning-border {
	border: 1px solid #fb8c00;
	color: #fb8c00;
}

.success-fill {
	background-color: #4caf50;
	color: #fff;
}

.success-border {
	border: 1px solid #4caf50;
	color: #4caf50;
}

.disable-fill {
	background-color: #e0e0e0;
	color: #fff;
}

.disable-border {
	border: 1px solid #e0e0e0;
	color: #e0e0e0;
}

.dark-fill {
	background-color: #555555;
	color: #fff;
}

.dark-border {
	border: 1px solid #555555;
	color: #555555;
}

/* --------------按钮设置------------ */
.btn {
	border: none;
	cursor: pointer;
	margin: 8px;
}

.btn-lg {
	width: 120px;
	height: 35px;
}
.btn-sm{
	width: 60px;
	height: 30px;
	
}
.btn-rd {
	border-radius: 20px;
}



.btn-circle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

/* 表单元素样式 */
.input-box {
	display: block;
	width: 90%;
	border: 1px solid black;
	border-radius: 5px;
	height: 40px;
	margin-bottom: 20px;
	align-content: center;
}

/* 阴影样式 */
.shadow {
	box-shadow: 2px 5px 10px #aaa;
}

/* 头像样式 */
.avatar-xs {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.avatar-lg {
	display: inline-block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
}

.avatar-xs,
.avatar-lg:hover {
	cursor: pointer;
}

/* 图片缩略样式 */
.thumnail-xs {
	width: 150px;
	height: 150px;
	border-radius: 10px;
}

.thumnail-lg {
	width: 200px;
	height: 200px;
	border-radius: 10px;
}

/* 导航条 */
.nav {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
}

.nav-bar {
	width: 100%;
	height: 70px;
}

.nav-list {
	width: 80%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.nav-item {
	height: 70px;
	line-height: 70px;
}

.nav-item input {
	margin-top: 15px;
	width: 200px;
	height: 35px;
}

.nav-item img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.nav-item a {
	display: inline-block;
	width: 80px;
	height: 35px;
	margin-right: 5px;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	line-height: 35px;
	letter-spacing: 3px;
}

.nav-right {
	float: right;
}

/* 边框 */
.border {
	border: 1px solid #ddd;
	border-radius: 5px;
}

/* 下边框 */
.border-bottom {
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}

/* 文章样式 */
.media-wraaper {
	display: flex;
	min-height: 120px;
	height: 180px;
	margin: 10px;
	border-radius: 5px;
	padding: 10px;
}

.media-left {
	flex: 1 1 18%;
	text-align: center;
	margin-right: 15px;
}

.media-middle {
	flex: 1 1 60%;
	margin-right: 15px;
}

.media-right {
	flex: 1 1 22%;
	height: 100%;
}

.media-middle>a {
	color: #FB8C00;
	font-size: 18px;
	font-weight: 700;
}

.media-right img {
	width: 95%;
	height: 80%;
	border-radius: 10px;
}

/* 卡片样式 */
.card {
	width: 100%;
	height: 260px;
	border: 1px solid #eee;
	border-radius: 5px;
	margin: 5px;
	padding: 10px;
}

.card img {
	width: 100%;
	height: 60%;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.card>p {
	line-height: 20px;
}
